<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
<table>
<tr><th>
Tutorname:</th><th>
  <input name="input" type="text" />
  </th></tr>
 <tr><th> Place:
   </th><th> <input name="" type="text" /></th></tr>
  
 <tr><th> Post:
 </th><th> <input name="input2" type="text" /></th></tr>
 <tr><th> Pin
 </th><th> <input name="txt_pin" type="text" /></th></tr>
 
  <tr><th>District:
  </th><th><select name="select">
  </select></th></tr>
  
  <tr><th>Contact number: 
  </th><th><input name="" type="text" /></th></tr>
 <tr><th> Email:
  </th><th> <input name="input3" type="text" /></th></tr>
 
  <tr><th> Gender:
  </th><th><input name="gender" type="radio" value="Male" />Male<input name="gender" type="radio" value="Female" />Female</th></tr>
 
 <tr><th> Qualification
 </th><th> <input name="qual" type="checkbox" value="DEGREE" />DEGREE
  <input name="qual" type="checkbox" value="PG" />PG</th></tr>
 <tr><th>Photo:</th><th><input type="file" name="fileField" id="fileField" /></th></tr>
  <tr><th colspan="2"><input name="ADD" type="button" value="Add" /></th></tr>
  </table>

</form>
</body>
</html>
