<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table border="2">
    <tr>
      <th><p>Tutorname:</p></th>
      <th> <input name="input" type="text" />
        <p></p></th>
    </tr>
    <tr>
      <th><p>Place:</p></th>
      <th> <input name="input" type="text" />
        <p></p></th>
    </tr>
     <tr>
      <th><p>Post:</p></th><th>
      <input name="input2" type="text" />
    </p></th></tr>
     <tr>
      <th><p>District:</p></th><th>
      <select name="select">
      </select>
    </p></th></tr>
     <tr>
      <th><p>Contact number:</p></th><th>
      <input name="input" type="text" />
    </p></th></tr>
     <tr>
      <th><p> Email:</p></th><th>
      <input name="input3" type="text" />
    </p></th></tr>
     <tr>
      <th><p> Gender:</p></th><th>
      <input name="Male" type="radio" value="Male" />
      <input name="Female" type="radio" value="Female" />
    </p></th></tr>
     <tr>
      <th><p> Qualification:</p></th><th>
      <input name="DEGREE" type="checkbox" value="" />
      <input name="PG" type="checkbox" value="" />
    </p></th></tr>
     <tr>
      <th><p> Photo:</p></th><th>
      <input name="input" type="file" />
    </p></th></tr>
     <tr>
      <th colspan="2"><input name="ADD" type="button" value="Update" />
  </table>
</form>
</body>
</html>
